<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Shaurya Gatha | Stories of Indian Army</title>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

<!-- main css  -->
<link rel="stylesheet" href="/public/style.css">

</head>

<body>

<header>
  <h1>SHAURYA GATHA</h1>
  <nav>
    <a href="/addpagerendertemp" class="btn-login">Login</a>
  </nav>
</header>