<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
</head>

<body>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>

        <li><a href="/empForm/">Employee Add Form</a></li>
    </ul>
    <center>
        <h1>Contact Page</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum rem dignissimos impedit, fugit
            doloremque accusamus illum debitis ex id. Sit officia iure mollitia debitis dolor.</p>
    </center>

</body>

</html>