<%- include('header')%>

    <!-- main  -->
    <main class="flex-grow grid grid-cols-1 md:grid-cols-3 gap-6 p-6">
        <div class="glass rounded-2xl p-6 flex flex-col items-center justify-center">
            <p class="text-xs text-blue-400 uppercase tracking-widest font-bold">Total Admins</p>
            <h2 class="text-5xl font-mono mt-2">12</h2>
        </div>
        <div class="glass rounded-2xl p-6 flex flex-col items-center justify-center">
            <p class="text-xs text-purple-400 uppercase tracking-widest font-bold">System Load</p>
            <h2 class="text-5xl font-mono mt-2">08%</h2>
        </div>
        <div class="glass rounded-2xl p-6 flex flex-col items-center justify-center">
            <p class="text-xs text-green-400 uppercase tracking-widest font-bold">Active Sessions</p>
            <h2 class="text-5xl font-mono mt-2">5</h2>
        </div>
    </main>


    <%- include('footer')%>